<?xml version="1.0" encoding="UTF-8"?>

<!-- web.xml은 프로젝트가 Tomcat에서 어떤 원칙으로 운영되는지를 정의할 수 있는 설정파일이다. -->

<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	
	<!-- 에러 페이지 설정 : 어떤 상태번호에 어떤 페이지를 보여줄 것인가 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>	
	
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
	
	<!-- 세션 유지시간 설정 -->
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	
	<!-- 사용자가 마주할 최초의 페이지를 정의 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
	<!-- 필터 등록 -->
<!-- 	<filter-mapping>
		<filter-name>f1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
</web-app>